<div class="container-fluid">


    <h1>Form Header</h1>
    <form (ngSubmit)="onSubmit()" #UserForm="ngForm">
        <div class="row">

            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput id="name" [(ngModel)]="model.name" name="name" #name="ngModel">

            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput id="username" [(ngModel)]="model.username" name="username">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput id="password" [(ngModel)]="model.password" name="password">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Profile Picture</mat-label>
                <input matInput id="profilePic" [(ngModel)]="model.profilePic" name="profilePic">
            </mat-form-field>

            <button mat-stroked-button (click)="newUser()">Submit</button>


        </div>
    </form>
</div>