
<div>
    <nav id="navbar">
        <ul class="menuItems">
            <li><a dataitem='Home' id="home" [routerLink]="['']">Home</a></li>
            <li><a dataitem='Profile' id="profile" [routerLink]="['profile']">Profile</a></li>
            <!-- <li><a dataitem='Post' id="post" [routerLink]="['feed']">Vibe</a></li> -->
            <li><a dataitem='Login' id="login" [routerLink]="['login']">Login</a></li>
            <li><a dataitem='Logout' id="logout" [routerLink]="['login']" href="#" (click)="signout($event)">Logout</a></li>
        </ul>
    </nav>
</div>
