
<!-- <div>
    <nav id="navbar">
        <ul class="menuItems">
            <li><a dataitem='Home' id="home" [routerLink]="['']">Home</a></li>
            <li><a dataitem='Profile' id="profile" [routerLink]="['profile']">Profile</a></li> -->

            <!-- <li><a dataitem='Post' id="post" [routerLink]="['feed']">Vibe</a></li> -->

            <!-- <li><a dataitem='Login' id="login" [routerLink]="['login']">Login</a></li>
            <li><a dataitem='Logout' id="logout" [routerLink]="['login']" href="#" (click)="signout($event)">Logout</a></li>
        </ul>
    </nav>
</div> -->

<nav id="navbar">
<mat-toolbar>
<h2>
  <button  (click)="showContainer()"mat-icon-button id="toggle" aria-label="Example icon-button with menu icon">
    <mat-icon color="primary">waves</mat-icon>
  </button>
  ReVibe</h2>


  <div *ngIf="containerIsVisible">
  <div class="right" id="right">
    <a dataitem='Home'  class="navlink" id="home" [routerLink]="['']">Home</a>
    <a dataitem='Profile'  class="navlink" id="profile" [routerLink]="['profile']">Profile</a>

    <a dataitem='Login'  class="navlink" id="login" [routerLink]="['login']">Login</a>

    <a dataitem='Logout'  class="navlink" id="logout" [routerLink]="['login']" href="#" (click)="signout($event)">Logout</a>
  </div>

</div>


</mat-toolbar>
</nav>
