<nav id="navbar">
<mat-toolbar>

<h2 class = "logo">ReVibe</h2>

<div *ngIf="containerIsVisible">
  <div class="right" id="right">
    <a dataitem='Home'  class="navlink" id="home" [routerLink]="['']">Home</a>
    <a dataitem='Profile'  class="navlink" id="profile" [routerLink]="['profile']">Profile</a>

    <a dataitem='Login'  class="navlink" id="login" [routerLink]="['login']">Login</a>

    <a dataitem='Logout'  class="navlink" id="logout" [routerLink]="['login']" href="#" (click)="signout($event)">Logout</a>
  </div>

</div>


</mat-toolbar>
</nav>
