h1{
    text-align: center;
    font-family: 'Futura', sans-serif;
    margin-top: 2rem;
    text-align: center;
    line-height: 150%;
}

div{
    height: 45%;
}
.card{
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: 'Futura', sans-serif;
}
img{
    display:block !important;
    margin:0 auto !important;
}
mat-card-header{
    display:flex;
    flex-direction: column;
    justify-items: center;
}
mat-card-content{
    margin-top: 20px;
    text-align: center;
}
button{
    font-family: 'Futura', sans-serif;
}