<!-- <app-sidebar></app-sidebar> -->
<h1>ACCOUNT PAGE</h1>

<div>
    <mat-card class="card">
        <mat-card-header>
            <img mat-card-xl-image src={{user.profilePic}}>
        </mat-card-header>
        <mat-card-content id="username">
            <mat-card-title id="name">{{user.name}}</mat-card-title>
            <mat-card-subtitle id="email">{{user.email}}</mat-card-subtitle> 
        </mat-card-content>
        <button routerLink="/form" mat-flat-button>Edit</button>
    </mat-card>
</div>
<!-- <app-user-feed></app-user-feed> -->

    