<div class="container" id="div-login-component">

  <h1>WELCOME</h1>
  <mat-form-field appearance="legacy">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div id="div-login-fields">
          <mat-label>
            Username: </mat-label>
            <input matInput type="text" formControlName="username" id="input-login-username" placeholder="username"><br>
            <mat-label> Password: </mat-label>
            <input matInput type="password" formControlName="password" id="input-login-password" placeholder="password"><br>
        </div>

        <i><a mat-flat-button id="button-login-forgotPassword" [routerLink]="['/reset-password']">Forgot Password?</a></i><br>
        <button mat-flat-button color="primary" id="button-login-submit" (click)="login()">Login</button><br>
    </form>

  </mat-form-field>

    <button mat-raised-button color="warn" id="button-login-newAccount" (click)="newAccount()">Create new account</button><br>

</div>
