
<body>
    <div class ="center" id="div-login-component">
        <mat-card>
            <mat-toolbar class="loginText" color="primary">Login Page</mat-toolbar>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                
                <div id="div-login-fields">
                    <mat-form-field>
                        <input class="uField" type="text" matInput placeholder="Username" formControlName="username" id="input-login-username">
                    </mat-form-field><br>
                    <mat-form-field>
                    <input  class="pFeild" type="password" matInput placeholder="Password" formControlName="password" id="input-login-password" ><br>
                </mat-form-field>
                </div>
                <button id="button-login-submit" (click)="login()">Login</button><br>
                <div class="fpassword">
                    <a id="button-login-forgotPassword" routerLink="PLACEHOLDER">Forgot Password?</a><br>
                </div>
                <button id="button-login-newAccount" (click)="newAccount()">Create new account</button><br>
            </form>
        
    </mat-card>
    </div>
</body>

 <!-- Filler line break -->
        <!-- <pre>
    .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
    / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
    `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   </pre> -->   
       