<div class="container-fluid" id="newAccount">
  <h1>Create an Account</h1>

  <form #accountform="ngForm">

  <mat-form-field appearance="legacy">

          <mat-label>Name</mat-label>
          <input matInput id="registration-nameInput" placeholder="Name" type="text" [(ngModel)]="account.name"
            name="name"required #name="ngModel" />
        </mat-form-field>

        <mat-form-field  appearance="legacy">
          <mat-label>Username</mat-label>
          <input matInput id="registration-usernameInput" placeholder="Username" type="text"
            [(ngModel)]="account.username" name="username"required #name="ngModel" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput id="registration-passwordInput" placeholder="Password" type="text"
            [(ngModel)]="account.password" name="password"required #name="ngModel" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput id="registration-emailInput" placeholder="Email" type="text" [(ngModel)]="account.email"
            name="email"required #name="ngModel" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Profile Picture</mat-label>
          <input matInput id="registration-picInput" placeholder="Profile Picture" type="text"
            [(ngModel)]="account.profilePic" name="profilepic" #name="ngModel" />
        </mat-form-field>

        <button mat-flat-button color="primary"  id="new-account-submit" type="submit" (click)="newAccount()">
          Submit
        </button>

