<div id="newAccount">
  <form #accountform="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" type="text"
      [(ngModel)]="account.name"
      name="name"
      #name="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" type="text"
      [(ngModel)]="account.username"
      name="username"
      #name="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Name" type="text"
      [(ngModel)]="account.password"
      name="password"
      #name="ngModel">
    </mat-form-field>
    <button type="submit" (click)="newAccount()">Submit</button>
  </form>
</div>
