* {
  font-family: 'Poppins', sans-serif;
}


mat-card-content {
  width: 100%;
  text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

mat-form-field, textarea {
  width: 90%;
}
