
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

cdk-virtual-scroll-viewport {
  width: 70%;
  height: 100%;
  margin-top: 10px;
  scroll-snap-align: end;
}


@media only screen and (max-width: 600px){
  cdk-virtual-scroll-viewport {
    width: 100%;
  }
}
