.leftsidebar{
    background-color: rgb(58, 58, 58);
    position: relative;
    text-align: left;
    font-weight: bold;
}
.sidebar {
    position: fixed;
    width: 10%;
    height: 100vh;
    font-size: 0.65em;
    
  }
.leftsidebar ul {
    list-style: none;
  }
  .leftsidebar ul li {
    position: relative;
    margin: 1em 0;
  }
  .leftsidebar ul li a {
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(255, 255, 255, 0.35);
    display: block;
    transition: all ease-out 300ms;
  }
  .leftsidebar ul li.active a {
    color: rgb(255, 255, 255);
  }
  .leftsidebar ul li:not(.active)::after {
    opacity: 0.2;
  }
  .leftsidebar ul li:not(.active):hover a {
    color: rgba(255, 255, 255, 0.75);
  }
  .leftsidebar ul li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: rgb(75, 75, 75);
    left: 0;
    bottom: 0;
  }