* {
  font-family: 'Poppins', sans-serif;
}


.container {
  padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
  display: block;
  margin: 1.5rem auto;
}
