<body>
    <div class="center" id="reset-password-component">
        <mat-card>
            <mat-toolbar class="resetpass" >Reset your password here.</mat-toolbar>
            <form [formGroup]="resetForm" (ngSubmit)= "resetPassword()">

                <mat-form-field>
                    <div id="div-login-fields">
                        <input type="text" matInput placeholder="Email" formControlName="email" id="input-email"><br>
                    </div>
                 </mat-form-field>
                <button id="button-reset-submit" (click)="resetPassword()">Reset Password</button><br>
            </form>
        </mat-card>
    </div>
</body>
    