
.vibe-card {
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  gap: 1rem;
  padding-right: 2rem;

}


mat-card-title, mat-card-content, mat-card-footer, button {
  font-family: 'Poppins', sans-serif;
}

mat-card-footer {
  margin-top: 0;
  text-align: right;
  padding-right: 20px;
  background-color: #72a3c255;
  border-radius: 10px;
  padding: .75rem;
}

@media only screen and (max-width: 600px){
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  .vibe-card {
    width: 100%;
  }
}
